#{extends 'main.html' /}
#{set title: 'New paste' /}

<div class="content">
    #{ifErrors}
        <p class="error">Validation failed</p>
    #{/ifErrors}
    #{form @Application.post(), enctype:'multipart/form-data'}
    <p class="label ${errors.forKey('paste.title') ? 'error' : ''}">
        <label for="paste.title">Title</label>
    </p>
    <p><input id="paste.title" name="paste.title" tabindex="10" value="${flash['paste.title']}" class="title ${errors.forKey('paste.title') ? 'error' : ''}">
        #{errors 'paste.title'}
            <span class="error">${error}</span>
        #{/errors}
    </p>


    <p class="label">
        <label for="paste.code">Code</label>
    </p>
    <p>

        #{select 'paste.codeMimeType', id:'paste.codeMimeType', value:flash['paste.codeMimeType']}
            #{list items:lexers, as:'lexer'}
                #{option lexer.value}${lexer.key}#{/option}
            #{/list}
        #{/select}
    </p>

    <p><textarea id="paste.code" name="paste.code" rows="40" tabindex="30" class="">${flash['paste.code']}</textarea></p>

    <p class="label">
        <label for="attachment">Attachment</label>
    </p>
    <p><input type="file" id="attachment" name="attachment"></p>

    <p class="label"><label for="paste.pastedByNick">From</label> (your IRC nick - optional)</p>
    <p><input id="paste.pastedByNick" name="paste.pastedByNick" class="pastedBy" tabindex="40" value="${flash['paste.pastedByNick']}"></p>

    <p class="label"><label for="paste.pastedForNick">For</label> (someone else's nick - optional)</p>
    <p>
        #{select 'paste.pastedForNick', id:'paste.pastedForNick', value:flash['paste.pastedForNick'],
                items:nicks}
            #{option}#{/option}
        #{/select}
    </p>

    <p>
        <input type="submit" value="Paste" tabindex="50" accesskey="s">
    </p>
    #{/form}
</div>
