#{extends 'main.html' /}
#{set title:paste.title /}

<div class="content">
    <div class="paste">
        <p class="age">
            posted at ${paste.pastedAt}
            #{if paste.pastedByNick != null}
                by <strong>${paste.pastedByNick}<strong>
            #{/if}
        </p>
        <p class="title">
            <a href="@{Application.show(paste.id)}">${paste.title}</a>
            #{if paste.codeMimeType != null}
                <span class="${paste.codeMimeType} language">${paste.codeMimeType}</span>
            #{/if}
        </p>
        <div class="sourcelist">
            <p>${highlightedCode.raw()}</p>
        </div>

        #{if paste.attachment != null}
        <div>
            <h2>Attachment</h2>

            #{if paste.attachmentMimeType.startsWith("image/")}
                <img src="@{Application.attachment(paste.id)}"/>
            #{/if}
            #{elseif paste.attachmentMimeType.startsWith("text/")}
                <p><pre>${paste.attachmentAsString()}</pre></p>
            #{/elseif}
            #{else}
            <a href="@{Application.attachment(paste.id)}">${paste.attachmentFilename} (${paste.attachmentMimeType})</a>
            #{/else}
        </div>
        #{/if}
    </div>
</div>
