<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/highlight.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">
        #{get 'moreScripts' /}
    </head>
    <body>
	<div class="toolbar">
        <p class="title">Plaste by Lunatech Research</p>
        <p>
            #{button class:'paste', action:@Application.newPaste(), title:'New paste' /}
            #{button class:'browse', action:@Application.index(), title:'Browse pastes' /}
        </p>
    </div>
        #{doLayout /}
    </body>
</html>
