<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/highlight.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">
        #{get 'moreScripts' /}
    </head>
    <body>
	<div class="toolbar">
	<p class="title">Plaste by Lunatech Research</p>
	<p>
		<a class="paste button" href="@{Application.newPaste()}"><span>New paste</span></a>
		<a class="browse button" href="@{Application.index()}"><span>Browse pastes</span></a>
	</p>
</div>
        #{doLayout /}
    </body>
</html>
